extends ../../layouts/navbar-home.pug
block content
  div.d-flex.justify-content-between
    h2 Danh sách sản phẩm
    a.btn.btn-success(href="/products/create") Thêm sản phẩm
  table(style='')
    tr
      th Hình ảnh
      th Tên sản phẩm
      th Giá nhập
      th Giá bán
      th Số lượng
      th Action
    each product in products
      tr
        td
          image(src= product.image[0] style='width: 60; height: 60')
        td= product.name
        td= product.import_price
        td= product.price
        td= product.quantily
        td 
          a(href='/products/update/'+product.id).btn.btn-primary Sửa
          a(href='/products/delete/'+product.id).btn.btn-danger Xóa