extends ../../layouts/navbar-home.pug
block content
  div.d-flex.justify-content-between
    h2 Danh sách sản phẩm
    a.btn.btn-success(href="/products/create") Thêm sản phẩm
  div.d-flex
    div
      form(method="GET" action='/products/search' enctype='application/x-www-form-urlencoded')
        
        div.d-flex
          input#name.flex-grow-1(type="text", name="name" placeholder= "Nhập tên sản phẩm")
          button.btn.btn-primary Search
    div
      form(method="POST" action='/products/searchoption' enctype='application/x-www-form-urlencoded')
          div.d-flex
            select.form-select(name="category")
              each category in categories
                option(value= category.name)=category.name
            button.btn.btn-primary Lọc
    
  div.container
    div.row
      each product in products
        div.col-3
          a.text-decoration-none(href='/products/detail/'+product.id)
            div.card.mt-2
              image.card-img-top(src= product.image[0])
              div.card-body
                h5.card-title= product.name
                p.card-text=  product.import_price
                p.card-text=  product.price
                p.card-text=  product.quantily
              div.card-body
                a.btn.btn-outline-primary.m-1(href='/products/update/'+product.id) Sửa
  div.row.mt-3
      if pages>0
        nav.mx-auto
          ul.pagination.justify-content-center
            - var i = 1
            while i<= pages
              li.page-item
                if i===page
                  a.page-link.disabled(href="/products/getall"+"?page="+i)= i++
                else 
                  a.page-link(href="/products/getall"+"?page="+i)= i++