html
  head
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    style
      include ../styles/styles.css
      include ../styles/cart.css
    script
      include ../js/increment.js
      
  body

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.px-5
      a.navbar-brand(href='/products') Shop
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(aria-current='page',href='/products') Tất cả sản phẩm
          li.nav-item
            a.nav-link(href='/products/create') Bánh kẹo, đồ ăn vặt
          li.nav-item
            a.nav-link(href='/') Bia, nước giải khát
          li.nav-item
            a.nav-link(href='/') Thực phẩm và trái cây
          li.nav-item
            a.nav-link(href='/') Sữa
          li.nav-item
            a.nav-link(href='/') Hóa phẩm và giấy
          li.nav-item
            a.nav-link(href='/') Chăm sóc cá nhân
          li.nav-item
            a.nav-link(href='/') Tã bỉm đồ em bé
          li.nav-item
            a.nav-link(href='/') Sản phẩm khác
          li.nav-item
            a.nav-link(href='/cart') Giỏ hàng
              span.badge.badge-light.text-primary 9
          if user
            p.m-2.text-primary= user.email
    .container.pt-5
      block content