extends ../../layouts/navbar-home.pug
block content
  div.container
    div.d-flex
      a(href="/statistical/inventory").cart.cart-view
        div(style={color: 'red', background: 'green',width: '400', height: '400',background: "linear-gradient(#ffafbd, #ffc3a0)"}).d-flex.justify-content-center.align-items-center
          h1.text-center.text-white Hàng tồn kho
      a(href="/statistical/top").cart.cart-view
        div(style={color: 'red', background: 'green',width: '400', height: '400',background: "linear-gradient(#ddd6f3, #faaca8)"}).d-flex.justify-content-center.align-items-center
          h1.text-center.text-white Top bán chạy
      a(href="/statistical/topcustomer").cart.cart-view
        div(style={color: 'red', background: 'green',width: '400', height: '400',background: "linear-gradient(#4568dc, #b06ab3)"}).d-flex.justify-content-center.align-items-center
          h1.text-center.text-white Khách hàng vàng
    div.d-flex
      b.d-flex.mx-1
        h2= 'Doanh thu: '
      h2= doanhThu +' đ'
    div.d-flex
      b.d-flex.mx-1
        h2= 'Doanh thu hôm nay: '
      h2= doanhThuHomNay +' đ'
    
  