extends ../../layouts/navbar-home.pug
block content
  h1 Danh sách bán chạy
    table.table
      thead
        tr
          th Tên sản phẩm
          th Số lượng bán
          th Giá
          th Tổng tiền
      tbody
        each product in products
          tr
            td= product.product_name
            td= product.amount
            td= product.price
            td= product.price*product.amount
  
  